
<div id="content">
    <h1>Tasks Stats</h1>
    <div class="simple-bar-chart">
  
        <div class="item" style="--clr: #5EB344; --val: {{easyCounts}}">
          <div class="label">Easy</div>
          <div class="value">{{easyCounts.toFixed(2)}}%</div>
        </div>
        
        <div class="item" style="--clr: #FCB72A; --val: {{medCounts}}">
          <div class="label">Medium</div>
          <div class="value">{{medCounts.toFixed(2)}}%</div>
        </div>
        
        <div class="item" style="--clr: #F8821A; --val: {{hardCounts}}">
          <div class="label">Hard</div>
          <div class="value">{{hardCounts.toFixed(2)}}%</div>
        </div>
      </div>
      
</div>

